@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Miriam+Libre&display=swap');
:root {
    --negro: #222222;
    --naranjaFondo: #F0A83E;
    --marron: #3c2313;
    --gris: #8a8787;
    --fondo: #e5e5e5;
    --fuente: #f3f3f3;

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--fondo);
}
.barraSuperior{
    background-color: var(--negro);
    height: 20px;
    width: 100%;
    top: 0px;
}
.barraSuperior p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--fuente);
    padding-left: 90px;
    padding-top: 4px;

}
.barraSuperior span {
    padding-left: 890px;

}
.barraNavegacion {
    background-color: var(--naranjaFondo);
    width: 100%;
    position: absolute;
}
h1 {
    width: 58px;
    font-size: 20px;
    padding-top: 39px;
}